<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
<div class="item">
        <div class="image left">
            <a href="#"><img src="css/images/project01.jpg" alt="" /></a>
        </div>
        <div class="text left">
            <h1>Статья: {{new.name|censor}}</h1>
            <h1>Текст:</h1>
            <p>{{new.description|censor}}</p>
            <p>Дата публикации: {{new.date}}</p>
            <h4>Категория: {{new.category.name}}</h4>

            <h10>Автор: {{new.author}} </h10>

        </div>
        <div class="cl">&nbsp;</div>
    </div>
{% endblock content %}