{% load static %}
<html >
<head>
	<title>Новостной блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="#" class="active">Главная</a></li>
			    <li><a href="#">Админ панель</a></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">
				 {% block content %}
				{% endblock content %}
			</div>

			<div class="cl">&nbsp;</div>
		</div>


	</div>

	<div id="footer">
		<p class="copy right">Проект новостного блога</p>
	</div>
</div>
</body>
</html>